@import "tailwindcss";

:root {
    --main-blue : #0d6efd;
    /* --main-blue : #104ba3; */
}

body {
    /* direction: rtl; */
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.input-group label {
    font-size: 16px;
    font-weight: 500;
    /* color: var(--main-blue); */
}

.input-group input ,
.input-group textarea ,
.input-group select{
    width: 100%;
    border:  1px solid #dee2e6;
    outline: none;
    padding: 10px 7px;
    border-radius: 7px;
}

.input-group input:focus ,
.input-group textarea:focus ,
.input-group select:focus {
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.leaflet-control-container .leaflet-top.leaflet-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .leaflet-control-container .leaflet-bar {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .leaflet-control-container .leaflet-bar > div {
    width: 100px !important;
    height: 100px !important;
  }
  .minimap-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
    
  @media print {
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
    .invoice-container {
      box-shadow: none !important;
      border: none !important;
    }
    .print:hidden {
      display: none !important;
    }
  }
  

  /* .ant-dropdown{
    top: 0 !important;
    left: 0 !important;
  } */